<%- include ("./partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">

            <h1>Welcome to LetsShop!!</h1>
            
            <p> Stay Safe in this Covid-19</p>
            <p><a class=" btn btn-primary btn-lg" href="/campgrounds">Go to all Shops</a></p>
        </div>
    </header>


<div class="row">
    <div class="col-sm-6 col-md-4">
        /* for loop */
      <div class="thumbnail">
        <img src="..." alt="...">/* img id  */
        <div class="caption">
          <h3>Customer name   /* username */</h3>
          
          <p><a href="#" class="btn btn-primary" role="button">CONFIRM PACKAGE</a> <a href="#" class="btn btn-danger" role="button">DELETE</a> </p>
        </div>
      </div>
    </div>
  </div>

</div>



<%- include ("./partials/footer") %>